{% extends 'master/base.html' %}
{% load static %}
{% block title %}Tovar rasmlari{% endblock title %}
{% block content %}

{% block category %}

{% endblock category %}

<div class="contetn-body-head">
    <div class="contetn-body-title w-auto">
        <p>
            <b>Barcha tovar rasmlari</b>
        </p>
    </div>
    <div class="contetn-body-action w-auto">
        <a href="{% url 'master:create-product-image' %}">
            <button>tovar rasmini qo'shish</button>
        </a>
    </div>
</div>
<div class="table-group">
    <table class="table">
        <thead>
            <tr>
                <th>Rasm ID</th>
                <th>Nomi (agar rasm topilmasa)</th>
                <th>Rasm</th>
                <th>Ishlash</th>
            </tr>
        </thead>
        <tbody>
            {% for product_image in product_images %}
            <tr>
                <td>
                    <p>{{ product_image.id }}</p>
                </td>
                <td>
                    <a>{{ product_image.title }}</a>
                </td>
                <td>
                    <img onclick="window.open(this.src)" src="{{ product_image.image.url }}" width="100px" style="cursor:pointer" alt="{{ product_image.image.name }}">
                </td>
                <td>
                    <div class="action">
                        <div>
                            <a href="{% url 'master:delete-product-image' product_image.id %}">
                                <img src="{% static 'images/delete.svg' %}">
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'master:update-product-image' product_image.id %}">
                                <img src="{% static 'images/edit.svg' %}">
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<br>
<div>
    {% if page_obj.has_previous %}
    <a style="text-decoration: none;border: 2px solid #333;padding: 10px;font-size: 19px;font-weight: 600;margin-right: 20px;"
        href="?page={{ page_obj.previous_page_number }}">Oldingi sahifa</a>
    {% endif %}

    {% if page_obj.has_next %}
    <a style="text-decoration: none;border: 2px solid #333;padding: 10px;font-size: 19px;font-weight: 600;"
        href="?page={{ page_obj.next_page_number }}">Keyingi sahifa</a>
    {% endif %}
    <br>
    <br>
    <br>
</div>
{% endblock %}